div {
    border: 2px solid black;
    margin: 20px;
    height: 200px;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
}

.info_boxes {
    width: 30%;
    height: auto;
     font-family: Comic, sans-serif;
}
.info_boxes h2 {
    text-align: center;
    color: darkslategray;
}